@font-face {
  font-family: 'ITC Avant Garde Gothic Demi Condensed';
  src: url('./fonts/ITC Avant Garde Gothic Demi Condensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
